storage: none
source https://www.nuget.org/api/v2/

nuget Microsoft.CodeAnalysis.CSharp.Workspaces

group Build
  storage: none
  source http://www.nuget.org/api/v2/
  nuget SourceLink.Create.CommandLine

group Test
  storage: none
  source http://www.nuget.org/api/v2/
  nuget Microsoft.CodeAnalysis.CSharp.Workspaces
  nuget Microsoft.NET.Test.Sdk
  
  nuget NUnit
  nuget NUnit3TestAdapter
  
  nuget xunit prerelease
  nuget xunit.runner.visualstudio prerelease

group Analyzers
  storage: none
  source http://www.nuget.org/api/v2/
  nuget Gu.Analyzers
  nuget StyleCop.Analyzers
  nuget AsyncUsageAnalyzers
  nuget IDisposableAnalyzers
