storage: none
strategy: min
lowest_matching: true
framework: net452
source https://www.nuget.org/api/v2/

nuget Microsoft.CodeAnalysis.CSharp.Workspaces

group Build
  storage: none
  source http://www.nuget.org/api/v2/
  nuget SourceLink.Create.CommandLine

group Test
  storage: none
  framework: net452
  source http://www.nuget.org/api/v2/
  nuget NUnit
  nuget xunit

group Analyzers
  storage: none
  source http://www.nuget.org/api/v2/
  nuget Gu.Analyzers
  nuget StyleCop.Analyzers
  nuget AsyncUsageAnalyzers

